body{
    height: 100%;
    background-color: #313030;
    color: #fff;
}

h1{
    font-weight: auto;
    text-align: center;
}
.todo{
    color: #440844;
}
.input_div{
    justify-content: center;
    align-items: center;
    text-align: center;
}
 #userInput{
    outline: none;
    background-color: #fff;
    border: none;
    height: 50px;
    width: 400px;
    font-size: 1.1rem;
    border-radius: 25px;
}
#enter{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #440844;
    cursor: pointer;
}
#enter:hover{
    opacity: 0.5;
}
.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

ul{
    text-align: left;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    width: 350px;
    margin-top: -25px;
    font-size: 1.6rem;
}
li{
    list-style: none;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    border-bottom: 4px solid #440844;
    width: 460px;
    margin-left: -62px;
    font-size: 1.4rem;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
li > button{
    font-weight:normal;
    background:none;
    border: none;
    float: right;
    color:#8b0808;
}
.done{
    background: #440844 !important;
    color: #fff;
}
.delete {
    display: none;
}


/*Responsive Queries*/
@media screen and (max-width: 450px){
    #userInput{
        height: 50px;
        width: 200px;
        font-size: 1.0rem;
        border-radius: 30px;
    }
    li{
        width:265px ;
        margin-left: 30px;
    }
}