body{
    height: 100%;
    background-color: #313030;
    color: #fff;
}

h1{
    font-weight: auto;
    text-align: center;
}
.todo{
    color: #c2bc15;
}
.input{
    justify-content: center;
    align-items: center;
    text-align: center;
}
 #write{
    outline: none;
    background-color: #fff;
    border: none;
    height: 50px;
    width: 400px;
    font-size: 1.1rem;
    border-radius: 25px;
}
#submit{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #c2bc15;
    cursor: pointer;
}
#submit:hover{
    opacity: 0.5;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

ul{
    text-align: left;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    width: 350px;
    margin-top: -25px;
    font-size: 1.6rem;
}
li{
    list-style: none;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    border-bottom: 4px solid #c2bc15;
    width: 460px;
    margin-left: -62px;
    font-size: 1.4rem;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
li >removeBtn{
    font-weight:normal;
    background:none;
    border: none;
    float: right;
    font-size: 1.1rem;
    color:#9b0606;
    cursor: pointer;
}
/* li >editBtn{
    font-weight:normal;
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right: 6%;
    float: right;
    font-size: 1rem;
} */
.done{
    background: #c2bc15 !important;
    color: #fff;
}
.delete {
    display: none;
}


/*Responsive Queries*/
/* @media screen and (max-width: 450px){
    #write{
        height: 50px;
        width: 280px;
        font-size: 1.0rem;
        border-radius: 30px;
    }
    li{
        width:350px ;
        margin-left: 0px;
    }
} */